<% content_for(:title, "Wikipages: Add Phone for #{@phone.contact.name}") %>

<h1>New phone number for <%= @phone.contact.name %></h1>

<%= render('layouts/errors', object: @phone) %>

<%= form_for(@phone) do |f| %>
  <div class="form-group">
    <%= f.label :number %>
    <%= f.telephone_field :number %>
  </div>
  <%= f.submit(class: 'btn btn-primary') %>
<% end %>
